.topbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 62px;
  margin: 0 auto;
  background-color: $color-white;
  justify-content: center;
  align-items: center;
}

.topbar-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.topbar-item {
  flex: 1;
  display: flex;
  max-width: 200px;
  height: 100%;
  border-left: 1px solid;
  border-color: $color-header;

  a {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    justify-self: center;

    svg {
      width: 20px;
      height: 20px;
      fill: $color-header;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: $color-header;
  }
}

.topbar-item:nth-of-type(2), .topbar-item:nth-of-type(4) {
  max-width: 70px;
}

//
.menu {
  width: 100%;
  height: 100%;
  margin: 1% auto 0 auto;
  background-color: $color-white;
}

.menu  ul {
  list-style-type: none;
  padding: 0;
  height: 100%;

  li {
    font-family: $font-text;
    font-size: 1rem;
    font-weight: 400;
    color: $color-header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    position: relative;

    ul {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-tab-hover;
      color: $color-text;
      transition: $transition;

      svg {
        fill: $color-text;
        transition: $transition;

      }

      ul {
        display: block;
        margin-top: 5px;
        width: 199px;
        left: 0;
        top: 30px;
        position: absolute;

        li {
          display: block;
          background-color: $color-white;

          span {
            float: right;
            color: $color-text;
            padding: 2px 5px;
            text-align: center;
            font-size: .8rem;
            border-radius: 3px;
          }

          &:hover {
            background-color: $color-tab-hover;
            transition: $transition;

            span {
              background-color: $color-tab-hover;
            }
          }
        }
      }
    }
  }
}


/*Media*/
@media (max-width: 767px) {
  .topbar-menu .topbar-item {
    display: none;
  }
}
