.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $color-sidebar;
  justify-content: center;
  align-items: center;
}

.sidebar-menu {
  flex: 1 100%;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 18px;
  border-bottom: 1px solid;
  border-color: $color-header;

  a .fas {
    margin-left: 20px;
  }
}

.sidebar-menu:last-of-type {
  border: none;
}

.main-menu:hover,nav.main-menu.expanded {
  width: 188px;
  overflow: visible;
}

.main-menu {
  background: $color-sidebar;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 188px;
  overflow: visible;
  transition: width .05s linear;
  z-index: 100;

  a.menu-list.active {
    background-color: $color-sidebar-selected;
    color: $color-white;
  }

  .manager {
    padding-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid;

    h2 {
      flex: 100%;
      color: $color-header;
    }

    .manager-row {
      flex: 1;
      display: flex;
      text-align: left;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 10px;

      a img {
        height: 46px;
        width: 46px;
      }

      .online {
        position: absolute;
        left: 45px;
      }

      a span {
        align-self: center;
        margin-left: 20px;
        color: $color-link;

        &:hover {
          color: $color-link-hover;
          transition: $transition;
        }
      }
    }
  }

  .topbar-menu-insidebar {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .topbar-item {
      max-width: 188px;
      border: none;
      max-height: 36px;

      svg {
        margin-left: 4px;
        margin-right: 5px;
      }

      a svg {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .topbar-item:first-of-type {
      z-index: 1000;
    }
  }
}

.main-menu svg {
  fill: $color-header !important;
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 188px;
  padding-top: 10px;

}

.main-menu li:nth-of-type(8) {
  padding-bottom: 10px;
  border-bottom: 3px solid;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  transition: all .1s linear;

}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 188px;
  font-family: $font-text;
}

nav {
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

a:hover, a:focus {
  text-decoration: none;
}

.fa-2x {
  font-size: 2em;
}

.fas {
  position: relative;
  display: table-cell;
  width: 95px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding-left: 11px;
  padding-right: 10px;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  background-color: $color-sidebar-selected;
  color: $color-white;
  border-left: 3px solid;
  border-color: $color-btn;
  transition: $transition;
}



@media (max-width: 767px) {
  .main-menu, nav.main-menu.expanded {
    width: 60px;
    overflow: hidden;

    &:hover {
      width: 188px;
      overflow: visible;

      .manager h2, .manager-row span {
        display: flex;
      }
    }

    .topbar-menu-insidebar {
      display: flex;
    }
  }

  .manager h2, .manager-row span {
    display: none;
  }
}
