.links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 22px auto;
  background-color: $color-white;
  justify-content: center;
  align-items: center;
}

.links-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  background-color: $color-white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $color-header-selected;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.links-row:hover {
  background-color: $color-tab-hover;
  transition: $transition;
}

.links-elem {
  flex: 1 30%;
  flex-grow: 1;
  text-align: center;
  background: none;
}

.links-container a:last-of-type {
  margin-top: 24px;
}

/*Media*/
@media (max-width: 767px) {
  .links-row {
    flex-direction: column;
    height: auto;
  }

}
