.table-row {
  display: flex;
  flex-direction: row;
  flex: 1 50%;
  flex-wrap: nowrap;
  background-color: $color-white;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.table-container {
  display: flex;
  flex-direction: row;
  flex: 1 50%;
  flex-wrap: wrap;
  background-color: $color-white;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid;
}
