/* Variables */

/* Colors */
$paragraph-color: #333333;
$header-color: #979797;
$text-selected-color: #f5f5f2;
$link-color: #56819f;
$link-hover-color: #ffa200;
$button-color: #f58220;
$gray-background-color: #e3e3e3;
$tab-hover-color: #f5f5f2;
$pos-notification-color: #96cc9b;
$pos-notication-hover-color: #74b67a;
$neg-notification-color: #ec7171;
$neg-notification-hover-color: #de5252;
$red-color: #ff0000;
$green-color: #04ae00;
$white-color: #ffffff;

/* Fonts */
$paragraph-font: "Roboto", Helvetica, Arial;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

/* Font sizes */
$paragraph-font-size: 16px;

/* Other */
$transition: all 1s;
$radius: 5px;

