.sidebar {
  position: fixed;
  width: 188px;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.topbar {
  position: fixed;
  top: 0;
  left: 188px;
  right: 0;
}

.right-wrapper {
  margin-left: 188px;
}

.main {
  margin-left: 206px;
  margin-right: 18px;
  margin-top: 85px;
}

/*Media*/
@media (max-width: 767px) {
  .main {
    margin-left: 78px;
    //padding-left: 18px;
    //padding-right: 18px;
  }

  .topbar {
    left: 60px;
  }

  .sidebar {
    width: 60px;
  }
}

//@media (min-width: 768px) and (max-width: 991px) {
//  .main {
//    padding-left: 46px;
//    padding-right: 46px;
//  }
//}

//@media (min-width: 992px) and (max-width: 1384px) {
//  .main {
//    //padding-left: 93px;
//    //padding-right: 93px;
//  }
//}
