/* Mixins */

@mixin notification-base {
  color: $color-white;
  font-family: $font-text;
  font-size: 14px;
  font-weight: $font-light;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

@mixin font-base-bold {
  color: $color-text;
  font-family: $font-text;
  font-size: 16px;
  font-weight: $font-bold;
}

@mixin font-base-light {
  color: $color-white;
  font-family: $font-text;
  font-size: 16px;
  font-weight: light;
}

@mixin font-number-values {
  color: $color-text;
  font-family: $font-text;
  font-size: 16px;
  font-weight: $font-light;
}

@mixin font-dates {
  color: $color-text;
  font-family: $font-text;
  font-size: 14px;
  font-weight: $font-light;
}

@mixin font-manager {
  color: $color-text;
  font-family: $font-text;
  font-size: 14px;
  font-weight: $font-medium;
  text-transform: uppercase;
}
